.project {
  max-width: 1280px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin: 0 auto;
}

.project__container-about {
  display: grid;
  margin: 110px 70px 0;
  column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 0.3fr);
}

.project__container-roadmap {
  display: grid;
  margin: 0 70px 110px;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(2, 36px);
}

.project__line {
  grid-column: 1 / span 2;
  background-color: #000;
  height: 1px;
  margin: 23px 0 70px;
}

.project__title {
  grid-column: 1 / span 2;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.project__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 26px;
}

.project__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.project__text_center {
  text-align: center;
  align-self: center;
}

.project__text_active {
  background-color: #2BE080;
  border-top: 9px solid #2BE080;
  border-bottom: 9px solid #2BE080;
}

.project__text_unactive {
  background-color: #F2F2F2;
  border-top: 9px solid #F2F2F2;
  border-bottom: 9px solid #F2F2F2;
}


/* @media screen and (max-width: 1300px) {
  .project__container_about {
    margin: 110px 70px 0;
  }
  
  .project__container_roadmap {
    margin: 110px 70px 0;
  }
} */

@media screen and (max-width: 1280px) {
  .project__container_roadmap {
    grid-template-columns: minmax(100px, 228px) minmax(184px, 912px);
}
}

@media screen and (max-width: 800px) {
  .project {
    
  }
}
