.card {
  max-width: 270px;
  position: relative;
}

.card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card__image {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 151px;
  border-radius: 6px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 14px;
}

.card__title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  max-height: 16px;
}

.card__button {
  position: absolute;
  display: none;
  top: 14px;
  right: 14px;
  width: 72px;
  height: 21px;
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #F9F9F9;
  background-image: url(../../../images/like_save.svg);
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    opacity: .8;
  }
}

.card:hover .card__button {
  display: block;
}

.card__button_active {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #EE3465;
  background-image: url(../../../images/like_active.svg);
}

.card__button_delete {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-image: url(../../../images/delete_crest.svg);
}

.card__duration {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  min-width: 52px;
  margin: 0;
  color: #A0A0A0;
  background-color: #F9F9F9;
  border-radius: 3px;
  padding: 3px 4px;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .card__image {
    height: 190px
  }
}

@media screen and (max-width: 600px) {
  .card__image {
    height: 168px
  }
}

@media screen and (max-width: 480px) {
  .card__duration {
    font-size: 10px;
  }

  .card__title {
    font-size: 12px;
  }
}