.promo {
  background-color: #073042;
  background-image: url(../../../images/bg_promo_image.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 320px;
  width: 100%;
}

.promo__container {
  min-height: 524px;
  max-width: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo__title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 54px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .promo__title {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .promo {
    background-size: 248px;
  }

  .promo__container {
    min-height: 570px;
  }

  .promo__title {
    font-size: 31px;
    letter-spacing: -1px;
    margin-left: 10px;
    margin-right: 10px;
  }
}