.movies__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 50px auto 80px;
  width: 320px;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  background-color: transparent;

  &:hover {
    opacity: .8;
  }
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {

  .movies__button {
    width: 240px;
  }
}