.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.burger__span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #000;
    margin-bottom: 10px;
    transition: all .2s ease-in-out;

    &:last-of-type {
      margin-bottom: 0;
    }
  }


.navigation__list {
  display: flex;
  list-style: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 30px;
}

.navigation__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.navigation__list-link:hover {
  opacity: .7;
  transition: .4s;
}

.navigation__list-icon {
  width: 26px;
  height: 26px;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #F5F5F5;
  background-image: url(../../images/account_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.account {
  font-size: 13px;
  margin-left: 20px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, .08);
  min-height: 32px;
  min-width: 100px;
  border-radius: 40px;
}

.focus {
  font-weight: 500;
}

.active {
  color: #000;
  background-color: #2BE080;
  border-radius: 3px;
  border-left: 20px solid #2BE080;
  border-right: 20px solid #2BE080;
  border-top: 8px solid #2BE080;
  border-bottom: 8px solid #2BE080;
}

.white {
  color: #FFF;
}

.hiden {
  display: none;
}

@media screen and (max-width: 768px) {
  
  .account {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    box-shadow: none;
    padding-top: 420px;
  }

  .hiden {
    display: block;
  }

  .focus {
    padding-bottom: 4px;
    border-bottom: 1px solid #000;
    transition: none;
  }

  .navigation {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .navigation__bg {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
  }

  .navigation__list-burger {
    content: "";
    background-color: #FFF;
    position: absolute;
    right: 0;
    top: 0;
    left: 30%;
    bottom: 0;
    flex-direction: column;
    gap: 28px;
    font-size: 18px;
    display: none;
  }

  .open {
    display: flex;
    z-index: 2;
  }

  .navigation__list-item:nth-child(1) {
    margin-top: 150px;
  }

  .navigation__list-icon {
    width: 30px;
    height: 30px;
    margin-left: 13px;
    border-radius: 6px;
  }

  .burger {
    display: block;
    position: absolute;
    top: 18px;
    right: 30px;
    z-index: 3;
  }

  .burger.close span:first-child {
    transform: translateY(13px) rotate(-45deg);
  }

  .burger.close span:nth-child(2) {
    transform: translateY(0) rotate(225deg);
  }

  .burger.close span:last-child {
    transform: translateY(-13px) rotate(45deg);
  }
}

@media screen and (max-width: 480px) {
  .navigation__list-burger {
    left: 0;
  }

  .burger {
    width: 22px;
    height: 22px;
    top: 18px;
    right: 23px;
  }
  
  .burger__span {
    width: 22px;
    height: 2px;
    margin-bottom: 6px
  }

  .burger.close span:first-child {
    transform: translateY(8px) rotate(-45deg);
  }

  .burger.close span:nth-child(2) {
    transform: translateY(0) rotate(225deg);
  }

  .burger.close span:last-child {
    transform: translateY(-8px) rotate(45deg);
  }
}