.header {
  background-color: #073042;
}

.header_hide {
  display: none;
}

.header__logo {
  margin: 18px 0 18px 60px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  margin-right: 70px;
}


@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 30px;
  }

  .header__nav-list {
    margin-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    margin-left: 14px;
  }

  .header__nav-list {
    margin-right: 14px;
  }
}