.header {
  background-color: #465DFF;
}

.header_hide {
  display: none;
}

.header__logo {
  margin-left: 70px;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 18px 0;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__logo {
    margin-left: 0;
  }
  
}

@media screen and (max-width: 480px) {
  .header__container {
    padding-left: 14px;
    padding-right: 14px;
  }
}