.footer {
  display: block;
  background-color: #FAFAFA;
}

.footer_hide {
  display: none;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 79px 0 20px;
  gap: 20px;
}

.footer__title {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 70px;
  padding-bottom: 20px;
  color: #A0A0A0;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  text-align: center;
}

.footer__copyright {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 70px;
}

.footer__nav-list {
  display: flex;
  gap: 20px;
  margin: 0 70px;
}

.footer__nav-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.footer__nav-link:hover {
  opacity: .7;
  transition: .4s;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: transparent;
  }

  .footer__container {
    margin: 79px 30px 20px;
  }

  .footer__title {
    margin: 0;
  }

  .footer__copyright {
    margin: 0;
  }

  .footer__nav-list {
    margin: 0;
  }

}

@media screen and (max-width: 480px) {
  .footer__container {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, .3fr);
    gap: 30px;
  }

  .footer__nav-list {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .footer__copyright {
    grid-row: 3;
    font-size: 12px;
  }

  .footer__title {
    margin: 0;
    font-size: 12px;
  }

  .footer__nav-link {
    font-size: 12px;
  }

}