.techs {
  width: 100%;
  background-color: #F5F5F5;
}

.techs__container {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin: 100px auto 100px;
}

.techs__container_title {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

.techs__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.techs__line {
  background-color: #000;
  height: 1px;
  width: 100%;
  margin: 23px 0 0;
  border: none;
}

.techs__container_subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.techs__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.techs__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 460px;
  text-align: center;
  margin: 0;
}

.techs__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0 0;
  padding: 0;
  gap: 10px;
}

.techs__list_item {
  background-color: #E8E8E8;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
