.techs {
  width: 100%;
  background-color: #F5F5F5;
}

.techs__container {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.techs__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 70px 90px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.techs__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding-bottom: 26px;
}

.techs__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 460px;
  text-align: center;
  margin: 0 auto;
}

.techs__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 100px 0 0;
  padding: 0;
  gap: 10px;
}

.techs__list_item {
  background-color: #E8E8E8;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 768px) {
  .techs__container {
    margin: 90px 50px;
  }

  .techs__title {
    margin: 0 0 80px;
  }

  .techs__subtitle {
    padding-bottom: 22px;
  }

  .techs__text {
    font-size: 12px;
  }

  .techs__list {
    margin-top: 83px;
    font-size: 12px;
  }

  .techs__list_item {
    transition: .4s;
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 480px) {
  .techs__container {
    margin: 70px 18px;
  }

  .techs__title {
    margin-bottom: 60px;
    padding-bottom: 28px;
    font-size: 18px;
  }

  .techs__subtitle {
    padding-bottom: 24px;
    font-size: 30px;
  }

  .techs__text {
    font-size: 11px;
  }

  .techs__list {
    margin: 50px auto 0;
    max-width: 178px;
  }
}