@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./assets/global.css);

@import url(./components/App/App.css);

@import url(./components/Header/Header.css);

@import url(./components/Navigation/Navigation.css);

@import url(./components/Landing/Landing.css);
@import url(./components/Landing/Promo/Promo.css);
@import url(./components/Landing/NavTab/NavTab.css);
@import url(./components/Landing/AboutProject/AboutProject.css);
@import url(./components/Landing/Techs/Techs.css);
@import url(./components/Landing/AboutMe/AboutMe.css);
@import url(./components/Landing/Portfolio/Portfolio.css);

@import url(./components/Footer/Footer.css);

@import url(./components/authorize/Form/Form.css);

@import url(./components/authorize/Register/Register.css);

@import url(./components/authorize/Login/Login.css);

@import url(./components/Main/Profile/Profile.css);



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
