.navtab {
  width: 100%;
  background-color: #000;
}

.navtab__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
}

.navtab__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.navtab__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}